body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  text-align: center;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(5px);
  width: 50%;
}
