.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 20px;
}

body {
  background-color: #042f4b;
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #4ecca3;
  text-align: center;
}

p {
  font-size: 2.5rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.bottom {
  padding-top: 40px;
}

.butn {
  background: #4ecca3;
  font-family: "Indie Flower", cursive;
  border-radius: 7px;
  color: #ffff;
  font-size: 30px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
}

.butn:hover {
  background: #232931;
  text-decoration: none;
}
