body {
  background-color: rgb(6, 0, 36);
  margin: 0;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
h1 {
  color: antiquewhite;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10rem;
  text-align: center;
  margin: 10%;
}
button {
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: antiquewhite;
  background-color: rgb(6, 91, 91);
  cursor: pointer;
}
button:hover {
  background-color: rgb(43, 172, 129);
}
