body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c1d48;
  font-family: "Arial", sans-serif;
}
.stopwatch {
  background-color: #6664a4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 4rem;
  font-family: monospace;
  font-weight: bold;
}
.stopwatch .display {
  margin-bottom: 20px;
}
.stopwatch button {
  padding: 10px 20px;
  font-size: 2rem;
  margin: 5px;
  font-family: monospace;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.stopwatch button#start {
  background-color: #2b532d;
  color: white;
}
.stopwatch button#stop {
  background-color: #8d3a35;
  color: white;
}
.stopwatch button#reset {
  background-color: #145489;
  color: white;
}
